{% extends 'base.html' %}
{% block content %}
<section class="vh-100" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong text-center" style="border-radius: 1rem;">
          <div class="card-body p-5">
            <h3 class="mb-4">Password Changed Successfully!</h3>
            <p class="mb-4">Your password has been updated. Please log in again to continue.</p>
            <a class="btn btn-primary btn-lg w-100" href="{% url 'login' %}" role="button">Log In</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
