{% extends 'base.html' %}
{% block content %}
<section class="vh-100" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong text-center" style="border-radius: 1rem;">
          <div class="card-body p-5">
            <h3 class="mb-4">Change Password</h3>
            <form method="post" class="mx-1 mx-md-4">
              {% csrf_token %}
              <!-- Old Password input -->
              <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                  <input type="password"
                         id="oldPassword"
                         class="form-control"
                         name="old_password"
                         required />
                  <label class="form-label" for="oldPassword">Old Password</label>
                </div>
              </div>
              <!-- New Password input -->
              <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                  <input type="password"
                         id="newPassword"
                         class="form-control"
                         name="new_password1"
                         required />
                  <label class="form-label" for="newPassword">New Password</label>
                </div>
              </div>
              <!-- Confirm New Password input -->
              <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                  <input type="password"
                         id="confirmNewPassword"
                         class="form-control"
                         name="new_password2"
                         required />
                  <label class="form-label" for="confirmNewPassword">Confirm New Password</label>
                </div>
              </div>
              <!-- Submit button -->
              <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                <button type="submit" class="btn btn-primary btn-lg">Change Password</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
